.DS_Store
build/
.gradle/
*.class
*.pyc
.idea/
xcuserdata/
log
log.txt
*.pb
.venv
node_modules/
server/tests/vehicles.csv
server/tests/tee-test-*.txt
server/app-engine/db-sim.json*
server/app-engine/static/local-storage/
server/app-engine/ad-hoc
server/app-engine/ad-hoc.pub
server/app-engine/ad-hoc.png
server/app-engine/static/local-storage/
server/qr-gen/qr.png
