* {
  margin:0;
  padding:0;
}

html, body {
  width:100%;
  height:100%;
}

canvas {
  display:block;
}

button {
  font-family: arial, sans-serif;
  font-size: 24px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #606060;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  margin: 15px;
}

.modal {
  display: none;
  position: fixed;
  font-family: arial, sans-serif;
  font-size: 32px;
  text-align: left;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-title {
  margin-bottom: 30px;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  /* below attributes center modal popup horizontally and vertically */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-content input[type=text], .modal-content input[type=password], .modal-content textarea, .modal-content select {
  width: 83%;
  font-size: 16px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
}

.modal-content input[type=text]:focus, .modal-content input[type=password]:focus, .modal-content textarea:focus {
  background-color: #ddd;
  outline: none;
}
