* {
  margin:0;
  padding:0;
}

#descoverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .83);
  z-index: 2;
  cursor: pointer;
}

#desctext{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

html, body {
  width:100%;
  height:100%;
}

canvas {
  display:block;
}

button {
  font-family: arial, sans-serif;
  font-size: 24px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #606060;
  color: white;
  background-color: darkBlue;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  margin: 10px;
}

button:disabled {
  background-color: #cccccc;
}

.modal {
  display: none;
  position: fixed;
  font-family: arial, sans-serif;
  font-size: 24px;
  text-align: left;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-title {
  margin-bottom: 30px;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #606060;
  /* below attributes center modal popup horizontally and vertically */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.toast {
  display: none;
  position: fixed;
  font-family: arial, sans-serif;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.toast-content {
  background-color: #fff;
  padding: 8px;
  border: 1px solid #888;
  width: 30%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #606060;
  /* below attributes center modal popup horizontally and vertically */
  margin: 0;
  position: absolute;
  top: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-content input[type=text], .modal-content input[type=password], .modal-content textarea, .modal-content select {
  width: 83%;
  font-size: 16px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
}

.modal-content input[type=text]:focus, .modal-content input[type=password]:focus, .modal-content textarea:focus {
  background-color: #ddd;
  outline: none;
}

.demo-container {
  margin: 0;
  /*padding: 25px;*/
  padding-top: 25%;
  width: 300px;
  margin: auto;
}

.progress-bar {
  height: 15px;
  background-color: rgba(5, 114, 206, 0.2);
  width: 100%;
  overflow: hidden;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: rgb(5, 114, 206);
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}
