html, body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  /*Safari does not recognize scroll-behavior, and so scrolling on Safari is currently choppy */
  scroll-behavior: smooth;
}

#header {
  position: sticky;
  top: 0;
}

#top {
  padding:  10px;
  white-space: nowrap;
}

#map-area {
  z-index: 1;
}

#agency-select {
  display: none;
}

#header {
   background-color: #FFFFFF;
}

#download {
  display:  none;
  float: right;
}

#click-here {
  display:  none;
}

#box{
    z-index: 2;
    display:  none;
    padding:  10px;
    background-color: white;
    border: 3px solid black;
    margin:  auto;
    width:60%;
    position: fixed;
    left:10px;
    right:10px;
}

#instructions{
    font-family:arial;
    font-size: 30px;
    padding:30px;
}
